{% for section in blurb %}
    <div class="block">
        <div class="main-row">
         <h3>{{ section.org }} : {{ section.when }}</h3>
        </div>
        <div class="sub-row">
          <h4>{{ section.role }} : {{ section.location }}</h4>
        </div>
        {% if section.responsibilities %}
        <h3>Responsibilties:</h3>
        <ul>
            {% for bullet in section.responsibilities %}
            <li>{{ bullet | markdownify }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if section.knowledge %}
        <h3>Knowledge:</h3>
        <ul>
            {% for bullet in section.knowledge %}
            <li>{{ bullet | markdownify }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <hr />
{% endfor %}
