---
layout: default
---

<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <h1 class="logo">{{ site.title }}</h1>
  </div>
</header>

<main>
    {% for section in site.data.sections %}
        <div class="section">
            <h2>
                {{ section.name }}
            </h2>
            {% capture section_layout %}resume/pdf/{{section.layout}}.html{% endcapture %}
            {% for hash in site.data %}
              {% if hash[0] == section.id %}
                {% assign blurb = hash[1] %}
                {% include {{section_layout}} %}
              {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</main>
